spring:
  application:
    name: Resource Booking API
server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/resource_booking
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

springdoc:
  swagger-ui:
    path: /swagger-ui.html